<p id="notice"><%= notice %></p>

<div class="center">
  <button type="button" class="btn btn-default"><%= link_to 'New Request', new_request_path, class: "btn btn-link" %></button>
  <div class="row">
    <% @requests.each do |request| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag request.image.url %>
            <div class="caption">
              <h3><%= request.pet_name %></h3>
              
                <%= link_to 'Show', request, class: "btn btn-link" %>
                <%= link_to 'Edit', edit_request_path(request), class: "btn btn-link" %>
                <%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'New Request', new_request_path, class: "btn btn-link" %>
