<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @request.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @request.pet_name %></h3>
    <p><strong>Description: </strong><%= @request.description %></p>
    <p><strong>Care instructions: </strong><%= @request.care_instructions %></p>
    <p><strong>Price: </strong><%= @request.price %></p>
    <p><strong>Range: </strong><%= @request.range %></p>
  </div>
</div>

<%= link_to 'Edit', edit_request_path(@request), class: "btn btn-link" %> |
<%= link_to 'Back', requests_path, class: "btn btn-link" %>
