<p id="notice"><%= notice %></p>

<%= image_tag @request.image.url(:medium) %>

<p>
  <strong>Pet name:</strong>
  <%= @request.pet_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Care instructions:</strong>
  <%= @request.care_instructions %>
</p>

<p>
  <strong>Range:</strong>
  <%= @request.range %>
</p>

<%= link_to 'Edit', edit_request_path(@request), class: "btn btn-link" %> |
<%= link_to 'Back', requests_path, class: "btn btn-link" %>
